/src/                     # Source code directory
/tests/                   # Test files directory
/dist/                    # Distribution directory
  /Classes/               # Compiled classes
    /Islam                # Islam-related classes
    Bot.js                # Compiled Bot class
    Bot.d.ts              # Bot class type definitions
  /Interfaces/            # Compiled interface files
    BotInterfaces.js      # Compiled Bot interfaces
    IslamInterfaces.js    # Compiled Islam interfaces
    BotInterfaces.d.ts    # Type definitions for Bot interfaces
    IslamInterfaces.d.ts  # Type definitions for Islam interfaces

.npmignore               
