/src/
/tests/
/dist/Classes/Islam
/dist/Classes/Bot.js
/dist/Classes/Bot.d.ts
/dist/Interfaces/BotInterfaces.js
/dist/Interfaces/IslamInterfaces.js
/dist/Interfaces/BotInterfaces.d.ts
/dist/Interfaces/IslamInterfaces.d.ts

.npmignore
.gitignore